html body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
}

body {
    background: rgb(4,160,144);
background: linear-gradient(0deg, rgba(4,160,144,1) 0%, rgba(21,215,196,1) 26%, rgba(255,255,255,1) 45%);
}

a {
    text-decoration: none;
    color: black;
}

/* Header ======================================================= */
Header {
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: center;
}

.nav-links {
    display: inline-flex;
    list-style: none;
}

.nav-links li {
    margin-top: 1em;
    margin-right: 2em;
    text-shadow: 2px 2px 4px lightgray;
    font-size: larger;
    font-weight: 700;
}

.nav-links li a:hover {
    color: #04a090;
}


/*  Bio ========================================================== */
.container {
    width: 80%;
    margin: auto;
}

.bio {
    display: flex;
    justify-content: center;
}

.image-content {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 6em;
}

.image-content img {
    width: 300px;
    border-radius: 2em;
}

.bio-content {
    flex: 2;
    margin-top: 6em;
    
}

.bio-content h1 {
    color: #04a090;
    text-shadow: 2px 2px 4px lightgray;
}

.bio-content p {
    text-align: center;
    color: rgb(73, 70, 70);
    width: 70%;
}

/* SKILLS ================================================================== */

.title {
    margin-top: 16em;
    margin-bottom: 6em;
    text-align: center;
    text-shadow: 2px 2px 4px lightgray;
}

.logo-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 80px;    
    justify-content: center;
}

.logo {
    max-width: 160px;
    max-height: 160px;
    transition: .2s;
}

.logo:hover {
    transform: scale(1.2);
}

/* PROJECT ================================================================= */

.title-green {
    color: white;
    margin-top: 16em;
    margin-bottom: 6em;
    text-align: center;
    text-shadow: 4px 2px 4px darkslategray;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;    
    justify-content: center;
}

.project-preview {
    box-shadow: 4px 4px 4px darkslategray;
    width: 300px;
    height: 200px;
    transition: .2s;
}

.project-preview:hover {
    transform: scale(1.8);
}

/* CONTACT ================================================================= */

.contact {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px darkslategray;
}

.social-media {
    margin: 1em;
    width: 100px;
    height: 100px;
    transition: 0.2s;
}

.social-media:hover {
        transform: scale(1.1);
}

.contact-div {
    display: flex;
    justify-content: center;
}

#email {
    transition: 0.2s;
}

#email:hover {
    color: rgb(151, 231, 231);
    text-shadow: 2px 2px 4px black;
    transform: scale(1.1);
}

.copyright {
    margin-top: 8em;
    margin-bottom: 2em;
    text-align: center;
    color: white;
    opacity: 0.5;
}

/* MEDIA QUERIES =========================================================== */

@media screen and (max-width: 1250px) {
    .bio-content {
        flex: 1;
        margin-top: 6em;
    }

    .bio-content h1 {
        color: #04a090;
        text-shadow: 2px 2px 4px lightgray;
        white-space: nowrap;
        font-size: larger;
    }

    .bio-content p {
        margin: auto;
    }
}

@media screen and (max-width: 860px) {
    .bio {
        display: block;
        text-align: center;
    }

    .bio-content p {
        margin: auto;
    }
    

    .image-content img {
        width: 200px;
    }
    
    .bio-content {
        margin-left: 8px;
    }

    .logo-container {
        grid-template-columns: auto auto;
    }

}

@media screen and (max-width: 375px) {
    
} 